<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/prod3.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <!--<h1>Contact</h1>-->
                            <!--<span class="subheading">Contact Us</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <head>
            <link
              href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
              rel="stylesheet"
            />
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
              integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
            ></script>
          </head>
          
          <body class="h-full">
            <div
              class="
                flex
                w-full
                h-full
                justify-center
                content-center
                items-center
                space-x-4
              "
            >
              <div class="flex flex-col space-y-6">
                <h3 class="text-center">FakeMeebits</h3>
                <div class="flex flex-col space-y-2">
                  <button
                    onclick="loginWithEth()"
                    class="
                    bg-gray
                    border border-black
                    hover:bg-red
                    py-2
                    px-4
                    text-gray-600
                    hover:text-red
                    "
                  >
                    Login
                  </button>
                  <p id="userAddress" class="text-black"></p>
                  <button
                    id="logoutButton"
                    onclick="logout()"
                    class="hidden text-red-800 underline"
                  >
                    Logout
                  </button>
                </div>
                <button
                  id="getContractInfo"
                  onclick="getContractSymbol()"
                  class="bg-red-300 hover:bg-blue-700 py-2 px-4 text-white"
                >
                Get Contract Ticker
                <button
                id="getBalanceOf"
                onclick="getBalanceOf()"
                class="bg-red-300 hover:bg-blue-700 py-2 px-4 text-white"
                >
                  Get Contract Balance
                </button>
                <p>Claimed Token?</p>

                  <input name="chiffre" id="chiffre" type="number" placeholder="Number"></input> 
                  <input value="Go" id="go" type="submit" onclick="search()"></input>

                  <button
                id="MintNFT"
                onclick="MintNFT()"
                class="bg-red-300 hover:bg-blue-700 py-2 px-4 text-white"
                >
                  Mint NFT
                </button>

                <div class="flex flex-col space-y-2"></div>
              </div>
            </div>
            <%- include('commun/connect'); -%>
            <script>
              // Display or remove the users know address on the frontend
              function showAddress() {
                if (!window.userAddress) {
                  document.getElementById("userAddress").innerText = "";
                  document.getElementById("logoutButton").classList.add("hidden");
                  return false;
                }
          
                document.getElementById(
                  "userAddress"
                ).innerText = `ETH Address: ${window.userAddress}`;
                document.getElementById("logoutButton").classList.remove("hidden");
              }
          
              // remove stored user address and reset frontend
              function logout() {
                window.userAddress = null;
                window.localStorage.removeItem("userAddress");
                showAddress();
              }
          
              // Login with Web3 via Metamasks window.ethereum library
              async function loginWithEth() {
                if (window.web3) {
                  try {
                    // We use this since ethereum.enable() is deprecated. This method is not
                    // available in Web3JS - so we call it directly from metamasks' library
                    const selectedAccount = await window.ethereum
                      .request({
                        method: "eth_requestAccounts",
                      })
                      .then((accounts) => accounts[0])
                      .catch(() => {
                        throw Error("No account selected!");
                      });
                    window.userAddress = selectedAccount;
                    window.localStorage.setItem("userAddress", selectedAccount);
                    showAddress();
                  } catch (error) {
                    console.error(error);
                  }
                } else {
                  alert("No ETH brower extension detected.");
                }
              }
          
              // Go to blockchain and get the contract symbol. Keep in mind
              // YOU MUST BE CONNECT TO RINKEBY NETWORK TO USE THIS FUNCTION
              // why -> because this specific contract address is on ethereum.
              // When you click login, just make sure your network is Rinkeby and it will all workout.
              async function getContractSymbol() {
                const CONTRACT_ADDRESS = "0x66e0f56e86906fd7ee186d29a1a25dc12019c7f3";
                const contract = new window.web3.eth.Contract(
                  window.ABI,
                  CONTRACT_ADDRESS
                );
                const symbol = await contract.methods
                  .symbol()
                  .call({ from: window.userAddress });
                alert(`Your contract address is ${CONTRACT_ADDRESS} Ticker : ${symbol}`);
              }
        
              async function getBalanceOf() {
                const CONTRACT_ADDRESS = "0x66e0f56e86906fd7ee186d29a1a25dc12019c7f3";
                const contract = new window.web3.eth.Contract(
                  window.ABI,
                  CONTRACT_ADDRESS
                );
                const balance = await contract.methods
                  .balanceOf(window.userAddress)
                  .call({ from: window.userAddress });
                alert(`Your contract address is ${CONTRACT_ADDRESS} Balance : ${balance}`);
              }
        
              async function MintNFT() {
                const CONTRACT_ADDRESS1 = "0x656ec82544a3464f07bb86bea3447a4fdf489c1b";
                const contract = new window.web3.eth.Contract(
                  window.ABI1,
                  CONTRACT_ADDRESS1
                );

                var nombre = document.getElementById("chiffre").value
                for (var key in Table)
                  {
                    if (nombre == key)
                    {
                        var signatureueueu = Table[key].signature
                        console.log(Table[key].signature)
                    }
                  }
                const signature = "0xd6c00197b9050f02b1767789870d4556cfae78f47b4a13213d3629473fe108525eb10cf2f8f46068716c7a38ec6d6e49e21e7f795d8a63be82ed0524c1b979491b"
                const balance = await contract.methods
                  .claimAToken(nombre, signatureueueu)
                  .send({ from: window.userAddress });
                alert(`Your contract address is ${CONTRACT_ADDRESS}, You claimed a new fakemeebits`);
              }

              async function faux() {

              
              }

              async function search() {
                var nombre = document.getElementById("chiffre").value
                //console.log(nombre)
                const CONTRACT_ADDRESS1 = "0x656ec82544a3464f07bb86bea3447a4fdf489c1b";
                const contract = new window.web3.eth.Contract(
                  window.ABI1,
                  CONTRACT_ADDRESS1
                );
                const reponse = await contract.methods
                      .tokensThatWereClaimed(nombre)
                      .call()
                alert(`${reponse}`)
              };

            </script>
          </body>
        <%- include('JSON'); -%>
        <%- include('ABI/fakeMeebits'); -%>
        <%- include('ABI/fakeMeebits1'); -%>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
