<!DOCTYPE html>
<html lang="fr">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/prod3.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <head>
            <link
              href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
              rel="stylesheet"
            />
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
              integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
            ></script>
          </head>
          <body class="h-full">
            <div
              class="
                flex
                w-full
                h-full
                justify-center
                content-center
                items-center
                space-x-4
              "
            >
              <div class="flex flex-col space-y-6">
                <h3 class="text-center">FAKEBAYC</h3>
                <div class="flex flex-col space-y-2">
                  <button
                    onclick="loginWithEth()"
                    class="
                    bg-gray
                    border border-black
                    hover:bg-red
                    py-2
                    px-4
                    text-gray-600
                    hover:text-red
                    "
                  >
                    Login
                  </button>
                  <p id="userAddress" class="text-black"></p>
                  <button
                    id="logoutButton"
                    onclick="logout()"
                    class="hidden text-red-800 underline"
                  >
                    Logout
                  </button>
                
                        <h1>Info Chain: </h1>
                        <p> ChainID : <%= chainid %> </p>
                        <p> Last Block Number : <%= block %> </p>
                        <p></p>
                        <p></p>
                        <h1>Infos sur Metamask: </h1>
                        <p id="chainIDD">ChainID :</p>
                    </div>
                </div>
            </div>
            <%- include('commun/connect'); -%>
    <script>

        function showAddress() {
            if (!window.userAddress) {
                document.getElementById("userAddress").innerText = "";
                document.getElementById("logoutButton").classList.add("hidden");
                return false;
            }
        
            document.getElementById(
                "userAddress"
            ).innerText = `ETH Address: ${window.userAddress}`;
            document.getElementById("logoutButton").classList.remove("hidden");
            }
        
        // remove stored user address and reset frontend
        function logout() {
            window.userAddress = null;
            window.localStorage.removeItem("userAddress");
            showAddress();
            }

        async function loginWithEth() {
                if (window.web3) {
                  try {
                    // We use this since ethereum.enable() is deprecated. This method is not
                    // available in Web3JS - so we call it directly from metamasks' library
                    const selectedAccount = await window.ethereum
                      .request({
                        method: "eth_requestAccounts",
                      })
                      .then((accounts) => accounts[0])
                      .catch(() => {
                        throw Error("No account selected!");
                      });
                    window.userAddress = selectedAccount;
                    window.localStorage.setItem("userAddress", selectedAccount);
                    showAddress();
                  } catch (error) {
                    console.error(error);
                  }
                } else {
                  alert("No ETH brower extension detected.");
                }
              }
    </script>
    </body>
    <%- include('ABI/fakeBayc'); -%>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
    </body>
</html>